html
    head
        title= title
    style
        include style.css
    body
        h1= message
        img(src="https://sayingimages.com/wp-content/uploads/crying-obamma-beautiful-meme.png")
        h1="Meme list"
        ul
            each meme in memes
                li
                    a(href="meme/" + meme.id) #{meme.name}
                    p price : #{meme.history.slice(-1)[0]}
                    img(src=meme.url)
